*,
*::before,
*::after {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 208, 255)
}



.header{
    height: 5rem;
}


.current-container{
    height: 20rem;



    .current-info{
        display: flex;
        flex-direction: column;

        height: 15rem;
        padding: 2rem;

        border: 1px solid rgb(113, 108, 108);
        border-radius: 5px;

        background-color: rgb(17, 189, 228);


    }

    .panel-left{
        position: fixed;
        left: 25%;
        transform: translateX(-50%);
        width:20%;


        span[data-current-sunrise] {
            font-size: 2rem;

        }

        span[data-current-sunset] {
            font-size: 2rem;

        }





    }

    .panel-middle{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);

        justify-content: center;
        align-items: center;

        width: 30%;


        span[data-current-temp] {
            font-size: 5rem;
        }

        span[data-current-city] {
            font-size: 2rem;
            margin: 0.5em;

        }
        span[data-current-fl-high] {
            font-size: 2rem;
        }

        #open-left {
            position: absolute;
            left: 0;


            background-color: rgb(25, 166, 198);
            border-radius: 5px;


            border: none;
            width: 40px;
            height: 100%;
        }

        #open-right {
            position: absolute;
            right: 0; 

            background-color: rgb(25, 166, 198);
            border-radius: 5px;

            border: none;


            width: 40px;
            height: 100%;
        }
    }

    .panel-right{
        position: fixed;
        left: 75%;
        transform: translateX(-50%);

        width: 20%;

        span[data-current-windspeed] {
            font-size: 2rem;
        }
        span[data-current-winddirection] {
            font-size: 2rem;
        }

    }
}

.hourly-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;

    // overflow-x: scroll;

    height: 20vh;

        .hourly-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 1rem;
            margin: 0.2rem;
            border: 1px solid;
            border-radius: 5px;

            span {
                font-size: 1.5rem;
            }
        }
}

.daily-weather{
    height: 30vh;
    border: solid;

}



////---------HELPER----------------

.displayNone {
    display: none !important;
}

.border{
    border: 1px solid black;
}

////---------Media Queries----------------


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .panel-left{
        width: 5px;

    }
    .panel-middle{
        width: 600px;
    }
    .panel-right {
        width: 5px;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .panel-left{
        width: 5px;

    }
    .panel-middle{
        width: 765px;
    }
    .panel-right {
        width: 5px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}