*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 5vh;
}


.current-weather{
    height: 30vh;
    border: solid;
}

.daily-weather{
    height: 30vh;
    border: solid;
}

.hourly-weather{
    height: 30vh;
    border: solid;
}